

body
{
  background-color: hsl(233, 47%, 7%);  
}
.divparan
{
    box-sizing: border-box;
   
    width: 50%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
   
    display: flex;
    justify-content: space-between;
    margin-top: 13rem;
    
}
.divtext
{
    background-color:hsl(244, 38%, 16%) ;
    box-sizing: border-box;
    padding: 1rem;
    width: 50%;
    text-align: left;
    text-align: center;
    
}
.divparan2
{
    justify-content: center;
    display: flex;
    gap: 15px;
}
.divimag
{
    opacity: 0,1;
    background-color:   hsl(277, 64%, 61%);
    width: 50%;
    height: 50%;
    text-align: right;
}
img
{
    
    opacity:0,1;
  
    width: 100%;
    
   
}
.textcolor
{
color:   hsl(277, 64%, 61%)
    ;
}

h2,p{
    color: white;
}
h4
{
    color: rgb(117, 111, 104);
}