img {
  width: 100%;
}
/* aller a la ligne*/

.contact-box {
  margin-top: 240px;
  width: 500px;
  background-color: white;
  box-shadow:0 0 20px gray;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: -4;
  border-radius: 50px;
}
form {
  margin: 35px;
  text-align: center;
}
.input-field {
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  border: 1px solid gray;
  border-radius: 14px;
}
