
img {
  width: 100%;
}
/* aller a la ligne*/

* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}


.imagg
{
width: 100%;
}
.imag2
{
width: 100%;
height: 315px;
}